@import "./_global";
@import "./_variabel";

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
body {
    font-family: "Poppins", sans-serif;
    background-image: url(../assets/bg-left.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 30vmax;
}
.heading-stroke-1 {
    span {
        background-image: url(../assets/stroke.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 16vmax;
    }
}
.btn {
    img {
        width: 1.2em;
    }
}
.responsif-img {
    background-color: #fff;
    background-image: url(../assets/bg-hero-responsif.png);
    background-size: contain;
    height: 420px;
    background-position: top right;
    background-repeat: no-repeat;
}
.costum-slider {
    margin-top: 5em !important;
}
.hero-4 {
    width: 80%;
    display: none;
}
.when-responsif-hero-4 {
    display: block;
    width: 80%;
}
.hero-5 {
    display: none;
    width: 100%;
}
.when-responsif-hero-5 {
    display: block;
    width: 80%;
}
.section-5-img {
    width: 100%;
}
.companies {
    margin-top: 2em;
}
.custom-slider .swiper-container .yahaha :hover {
    background-color: var(--blue);
    color: #ffffff;
    cursor: pointer;
}

.custom-slider .swiper-container .yahaha :hover p {
    color: #ffff;
}
.when-responsif-button {
    display: block;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    body {
        font-family: "Poppins", sans-serif;
        background-image: url(../assets/bg-left.png);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 30vmax;
    }
    .heading-stroke-1 {
        span {
            background-image: url(../assets/stroke.png);
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 16vmax;
        }
    }
    .btn {
        img {
            width: 1.3em;
        }
    }
    // img when responsif
    .responsif-img {
        background-color: #fff;
        background-image: url(../assets/bg-hero-responsif.png);
        background-size: contain;
        height: 500px;
        background-position: top right;
        background-repeat: no-repeat;
    }
    .costum-slider {
        margin-top: 5em !important;
    }
    .hero-4 {
        width: 80%;
        display: none;
    }
    .when-responsif-hero-4 {
        display: block;
        width: 80%;
    }
    .hero-5 {
        display: none;
        width: 100%;
    }
    .when-responsif-hero-5 {
        display: block;
        width: 80%;
    }
    .companies {
        margin-top: 2em;
    }
    .when-responsif-button {
        display: block;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    body {
        font-family: "Poppins", sans-serif;
        background-image: url(../assets/bg-left.png);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 30vmax;
    }
    .heading-stroke-1 {
        span {
            background-image: url(../assets/stroke.png);
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 16vmax;
        }
    }
    .btn {
        img {
            width: 1.6em;
        }
    }
    // img when responsif
    .responsif-img {
        background-color: #fff;
        background-image: url(../assets/bg-hero-ipad.png);
        background-size: contain;
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .costum-slider {
        margin-top: 6em !important;
    }
    .hero-4 {
        width: 80%;
        display: none;
    }
    .when-responsif-hero-4 {
        display: block;
        width: 80%;
    }
    .hero-5 {
        display: none;
        width: 100%;
    }
    .when-responsif-hero-5 {
        display: block;
        width: 80%;
    }
    .companies {
        margin-top: 2em;
    }
    .when-responsif-button {
        display: block;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    body {
        font-family: "Poppins", sans-serif;
        background-image: url(../assets/bg-hero.png), url(../assets/bg-left.png);
        background-position: top right, top left;
        background-repeat: no-repeat;
        background-size: 40vmax, 30vmax;
    }
    .heading-stroke-1 {
        span {
            background-image: url(../assets/stroke.png);
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 16vmax;
        }
    }
    .btn {
        img {
            width: 2em;
        }
    }
    // img when responsif
    .responsif-img {
        display: none;
    }
    .costum-slider {
        margin-top: 15em !important;
    }
    .hero-4 {
        width: 100%;
        display: block;
    }
    .when-responsif-hero-4 {
        display: none;
    }
    .hero-5 {
        display: block;
        width: 100%;
    }
    .when-responsif-hero-5 {
        display: none;
    }
    .companies {
        margin-top: 8em;
    }
    .when-responsif-button {
        display: none;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    body {
        font-family: "Poppins", sans-serif;
        background-image: url(../assets/bg-hero.png), url(../assets/bg-left.png);
        background-position: top right, top left;
        background-repeat: no-repeat;
        background-size: 40vmax, 30vmax;
    }
    .heading-stroke-1 {
        span {
            background-image: url(../assets/stroke.png);
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 16vmax;
        }
    }
    .btn {
        img {
            width: 2em;
        }
    }
    // img when responsif
    .responsif-img {
        display: none;
    }
    .costum-slider {
        margin-top: 10em !important;
    }
    .hero-4 {
        width: 100%;
        display: block;
    }
    .when-responsif-hero-4 {
        display: none;
    }
    .hero-5 {
        display: block;
        width: 100%;
    }
    .when-responsif-hero-5 {
        display: none;
    }
    .companies {
        margin-top: 10em;
    }
    .when-responsif-button {
        display: none;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    body {
        font-family: "Poppins", sans-serif;
        background-image: url(../assets/bg-hero.png), url(../assets/bg-left.png);
        background-position: top right, top left;
        background-repeat: no-repeat;
        background-size: 40vmax, 30vmax;
    }
    .heading-stroke-1 {
        span {
            background-image: url(../assets/stroke.png);
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 16vmax;
        }
    }
    .btn {
        img {
            width: 2em;
        }
    }
    // img when responsif
    .responsif-img {
        display: none;
    }
    .costum-slider {
        margin-top: 15em !important;
    }
    .hero-4 {
        width: 100%;
        display: block;
    }
    .when-responsif-hero-4 {
        display: none;
    }
    .hero-5 {
        display: block;
        width: 100%;
    }
    .when-responsif-hero-5 {
        display: none;
    }
    .companies {
        margin-top: 10em;
    }
    .when-responsif-button {
        display: none;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 120px;
    object-fit: contain;
}
.slide-virtual {
    height: 100px !important;
}
.swiper-slide {
    width: 257px;
}

.swiper-slide:nth-child(2n) {
    width: 257px;
}

.swiper-slide:nth-child(3n) {
    width: 257px;
}
.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: #3332cb;
    border-radius: 10px;
    left: 0;
    top: 0;
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(187, 187, 238, 0.5);
    width: 50px !important;
    height: 10px !important;
    margin: 20px auto 0;
    display: block;
}
.swiper-horizontal > .swiper-scrollbar {
    left: 50%;
    transform: translateX(-50%);
}
.swiper-button-next:after,
.swiper-button-prev:after {
    content: "";
}
.p-relative {
    position: relative;
}
.features-prev {
    transform: rotate(-180deg);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: none !important;
}
@media (min-width: 320px) {
    .bg-active {
        position: absolute;
        width: 237px !important;
        height: 237px !important;
        top: -34px;
        right: -56px;
        opacity: 0;
    }
    .content-card__slide.active .bg-active {
        opacity: 1 !important;
    }
    .featureSlider .swiper-slide {
        overflow: hidden;
        align-items: flex-start;
        border-radius: 22px;
    }
    .content-card__slide.active {
        background-color: #3332cb;
    }

    .content-card__slide.active .icon-card__slide {
        background-color: #fff;
    }

    .content-card__slide.active h3 {
        color: #fff;
        font-weight: 600;
    }

    .content-card__slide.active p {
        color: #d6d6f5 !important;
    }
    .featureSlider {
        margin-top: 40px;
    }
    .icon-card__slide {
        display: flex;
        width: 60px;
        height: 60px;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 30px;
    }

    .content-card__slide h3 {
        font-weight: 600;
        font-size: 25px;
        line-height: 37px;
        color: #3332cb;
    }

    .content-card__slide p {
        color: #aaaaaa;
    }
    .icon-card__slide img {
        width: 30px;
    }
    #features,
    #companies {
        padding: 60px 0;
    }
    .content-card__slide {
        padding: 30px;
        background-color: #f3f3fc;
        border-radius: 22px;
        text-align: left;
        min-height: 311px;
        cursor: pointer;
    }
    #features h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 55px;
        color: #333;
        margin-bottom: 20px;
    }

    #features h2 span {
        color: #3332cb;
    }

    #features p {
        font-size: 15px;
        line-height: 25px;
        color: #808080;
    }
    #companies h4 {
        font-size: 13px;
        line-height: 19.5px;
        text-align: center;
        color: #c8c7db;
    }
}

@media (min-width: 768px) {
    #companies {
        width: 700px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    #companies h4 {
        font-size: 20px;
        line-height: 19.5px;
    }
    .features-prev {
        transform: rotate(-180deg);
        margin-left: -35px;
    }
    .features-nav {
        width: 50px;
        height: 50px;
        background-color: #3332cb;
        border-radius: 50%;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .features-next {
        margin-right: -25px;
    }
    .featureSlider {
        margin-top: 0;
    }
    #companies {
        width: 800px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    #companies {
        width: 1030px;
    }
}
